.app {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding: 4vw;
  background-color: #f8f8f8;
  .top {
    background-color: white;
  }
  .control {
    display: flex;
    justify-content: space-between;
    .sameStyle() {
      width: 45vw;
      height: 6vh;
      border-radius: 4px;
      text-align: center;
      line-height: 6vh;
      font-size: 18px;
    }
    .msg {
      .sameStyle();
      border: 2px solid #006cd5;
    }
    .goods {
      .sameStyle();
      border: 2px solid #70efe8;
    }
  }
}
