.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  background-color: #0f6fed;
}
.ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white;
  background-color: #0d5fd1;
  padding: 12px 5px;
}
.ant-tabs-nav-list .ant-tabs-tab:hover {
  background-color: #0d5fd1;
  color: white;
}
.ant-tabs-nav-list .ant-tabs-tab {
  padding: 0;
}
.ant-tabs-tab-btn {
  color: white;
  padding: 12px 5px;
}
