.root {
  width: 100vw;
  height: 100vh;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 20px;
  font-weight: 700;
}
.login {
  width: 24vw;
  height: 25vw;
  border-radius: 6px;
}
.loginTop {
  width: 100%;
  height: 70%;
  background-color: white;
  border-radius: 6px;
  padding: 40px;
}
.loginBottom {
  width: 100%;
  height: 15%;
  background-color: white;
  border-radius: 6px;
  margin-top: 5%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}
.user,
.pwd {
  display: block;
  width: 100%;
  height: 15%;
  border-radius: 6px;
  margin-top: 20px;
}

.root button {
  background-color: #fe4066;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
}
.picture > div {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: bisque;
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  line-height: 30px;
}
