.app {
  .wrapHead {
    position: relative;
    width: 100%;
    .topHead {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 35px;
      background-color: pink;
    }
    .navLeft {
      height: 100%;
      width: 300px;
      background-color: lightgoldenrodyellow;
    }
    .navCenter {
      height: 100%;
      width: 766px;
      ul {
        height: 100%;
        display: flex;
        justify-content: space-between;
        li {
          list-style: none;
          padding: 0 10px;
          margin: 0 10px;
          line-height: 80px;
          &:nth-child(1) {
            background-color: #0cb46a;
          }
        }
      }
    }
    .navRight {
      height: 100%;
      width: 300px;
      background-color: lightgoldenrodyellow;
    }
    .bottomHead {
      width: 100%;
      position: absolute;
      top: 35px;
      left: 0;
      height: 80px;
      display: flex;
      justify-content: space-between;
      background-color: white;
    }
    .bottomHeadOther {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      height: 60px;
      display: flex;
      justify-content: space-between;
      background-color: white;
      .navCenter > ul > li {
        line-height: 60px;
      }
    }
  }
  .content {
    background-color: rgb(243, 232, 217);
    & > p:nth-child(even) {
      background-color: rgb(235, 221, 205);
    }
  }
}
